<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Creating new Reports</title>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDzZVIVOQSOBJj6dcwujiblHYmnfT3k3bU&libraries=places"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    
</head>
<body>

    <h1>Creating Reports</h1>
    <form action="/reports" method="POST" onsubmit="event.preventDefault(); getLocation();">
        <label for="title">Report title</label>
        <input type="title" name="title" id="title" placeholder="report title" />
        <label for="time">Report time</label>
        <input type="time" name="time" id="time" placeholder="report time" />
        <label for="date">Report Date</label>
        <input type="date" id="date" name="date" placeholder="report date" />
        <label for="location">Report Location</label>
        <input type="text" id="location" name="location" placeholder="report location" style="width: 300px" value="DePauw University, South Locust Street, Greencastle, IN, USA" />
        <label for="description">Report description</label>
        <input type="text" id="description" name="description" placeholder="report description" />
        <input type="hidden" id="latitude" name="latitude">
        <input type="hidden" id="longitude" name="longitude">
        <button>Submit</button>
      </form>
      <a href="/reports">Back to All Products</a>
    </div>
  </div>

    <script>
      var input = document.getElementById('location');
      var autocomplete = new google.maps.places.Autocomplete(input);
      console.log("Test getlocation")
      function getLocation() {
        console.log("Test getlocation");
        var geocoder = new google.maps.Geocoder();
        var address = document.getElementById('location').value;
        geocoder.geocode({ 'address': address }, function(results, status) {
          if (status == 'OK') {
            var latitude = results[0].geometry.location.lat() + (Math.random() * 0.0001) - 0.00005; //to ensure that 2 same place will have different markers
            var longitude = results[0].geometry.location.lng() + (Math.random() * 0.0001) - 0.00005; //to ensure that 2 same place will have different markers
            console.log(latitude, longitude); // Make sure these values are being logged correctly
            document.getElementById('latitude').value = latitude;
            document.getElementById('longitude').value = longitude;
            document.forms[0].submit(); // Submit the form after setting latitude and longitude
          } else {
            alert('Geocode was not successful for the following reason: ' + status);
          }
        });
      };


    </script>

    <script>(g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})
    ({key: "AIzaSyDzZVIVOQSOBJj6dcwujiblHYmnfT3k3bU", v: "weekly"});</script>

    
    
</body>
</html>