<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
  <!--for rating star-->
  <title>Document</title>
  <link rel="stylesheet" href="servicePub/service.css">
  <link rel="stylesheet" href="servicePub/navBarFooter.css">

</head>

<body>
    <!--NAVBAR-->
    <nav class="navbar navbar-expand-lg py-3 bg-body-tertiary navbar-custom-homepage">
        <div class="container">
          <a class="navbar-brand" href="#">
            <img src="image/logo.png" alt="My logo" width="100" height="50" />
          </a>
    
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
    
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto">
              <li class="nav-item">
                <a class="nav-link" href="/homepage">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/map">Safe Map</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/service">Support Service</a>
              </li>
            </ul>
            <button class="btn btn-primary ms-lg-3">Log in</button>
            <button class="btn btn-primary ms-lg-3">Sign up</button>
          </div>
        </div>
      </nav>
    
      <!--END OF NAVBAR-->

      <div class="container-fluid py-5">
        <div class="row text-center custom-padding-for-section1">
          <h2>Book a "Introductory Call" Session in minutes</h2>
          <h4>If you're looking for a mentor, and you're just not sure about how this all works – this one is for you. In a
            casual, informal introductory call, a mentor will introduce themselves, show you around the platform, explain
            how …</h4>
        </div>
      </div>
    
    
      <!--Mentor Session-->
        <div class="container">
        <!--Mentor 1-->
          <div class="row my-3 justify-content-center">
            <div class="card mb-3 py-2 custom-card col-11 mentor-card-1">
              <div class="row g-0">
                <div class="col-md-4 d-flex justify-content-center align-items-center">
                  <img src="https://scontent-ord5-2.xx.fbcdn.net/v/t1.15752-9/341421800_747757813646675_872729958890091705_n.png?_nc_cat=110&ccb=1-7&_nc_sid=ae9488&_nc_ohc=VlHexPwSSDsAX96A-rC&_nc_oc=AQkjTY7uLMpUqtlUU2jnS4qeEPxxSdP25ocBGBitzJkSWkBXX01EbOmNWVOJGJEFmi4&_nc_ht=scontent-ord5-2.xx&oh=03_AdRlSzVC62CTv6H93d-6ALzJCyJ1OfgVHogtoaML25j2Pg&oe=646CB147" class="img-fluid image-mentor" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body ">
                    <h1 class="card-title pt-1 custom-h1-card" style="display:inline-block">name</h3>
                      <button class="btn btn-primary custom-button-1">Mental Health Mentor</button>
                      <p class="card-text">Psychology Mentor</p>
                      <p class="card-text">Experience in Psychology Field for 12 years | PHD in Mental Health Issues</p>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star"></span>
                      <span>4.6</span>
                      <span>(37 reviews)</span>
                      <div class="meeting-options d-flex py-3 justify-content-between"> <!--remember to add icon-->
                        <span>Chat</span>
                        <span>Call</span>
                        <span>Virtual Meeting</span>
                        <span>Onsite Meeting</span>
                      </div>
                      <p class="card-text pt-3">Designer at Adobe, driving product-led growth initiatives like engagement and
                        monetization for Acrobat. I keep a systems-based approach to design with a strong focus on research
                        and accessibility, all while collaborating on the product roadmap and strategy with cross-functional
                        partners. I’m an Interaction design graduate from the School of Visual …</p>
                      <div class="badge-ability d-flex justify-content-start mentor-badge-1">
                        <span class="badge rounded-pill bg-light text-dark me-4">Helpful</span>
                        <span class="badge rounded-pill bg-light text-dark me-4">Mental Health Recovery</span>
                        <span class="badge rounded-pill bg-light text-dark me-4">Kind</span>
                        <span class="badge rounded-pill bg-light text-dark me-4">Suitable for women</span>
                      </div>
                      <button type="button" class="mt-5 make-reservation-button-1">Make A Reservation</button>
                      <a href="https://schedule.nylas.com/phuoc-ong-gia-30min"> Make a Reservation</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
    
        <!--Mentor 2-->
        <div class="row my-3 justify-content-center">
          <div class="card mb-3 py-2 custom-card col-11 mentor-card-2">
            <div class="row g-0">
              <div class="col-md-4 d-flex justify-content-center align-items-center">
                <img src="https://scontent-ord5-2.xx.fbcdn.net/v/t1.15752-9/342726425_183608694546319_5825706023727243217_n.png?_nc_cat=107&ccb=1-7&_nc_sid=ae9488&_nc_ohc=HZ5qG6b3dnoAX8IY79r&_nc_ht=scontent-ord5-2.xx&oh=03_AdQq5xo33tHBYADq-k3otnBbBEduG02VEq5sRR15tHFt7A&oe=646CBD5B" class="img-fluid image-mentor" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body ">
                  <h1 class="card-title pt-1 custom-h1-card" style="display:inline-block">name</h3>  
                    <button class="btn btn-primary custom-button-2">Mental Health Mentor</button>
                    <p class="card-text">Psychology Mentor</p>
                    <p class="card-text">Experience in Psychology Field for 12 years | PHD in Mental Health Issues</p>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span>4.6</span>
                    <span>(37 reviews)</span>
                    <div class="meeting-options d-flex py-3 justify-content-between"> <!--remember to add icon-->
                      <span>Chat</span>
                      <span>Call</span>
                      <span>Virtual Meeting</span>
                      <span>Onsite Meeting</span>
                    </div>
                    <p class="card-text pt-3">Designer at Adobe, driving product-led growth initiatives like engagement and
                      monetization for Acrobat. I keep a systems-based approach to design with a strong focus on research
                      and accessibility, all while collaborating on the product roadmap and strategy with cross-functional
                      partners. I’m an Interaction design graduate from the School of Visual …</p>
                    <div class="badge-ability d-flex justify-content-start mentor-badge-2">
                      <span class="badge rounded-pill bg-light text-dark me-4">Helpful</span>
                      <span class="badge rounded-pill bg-light text-dark me-4">Mental Health Recovery</span>
                      <span class="badge rounded-pill bg-light text-dark me-4">Kind</span>
                      <span class="badge rounded-pill bg-light text-dark me-4">Suitable for women</span>
                    </div>
                    <button href="https://schedule.nylas.com/phuoc-ong-gia-30min" type="button" class="mt-5 make-reservation-button-2">Make A Reservation</button>
                </div>
              </div>
            </div>
          </div>
        </div>
    
        <!--Mentor 3-->
        <div class="row my-3 justify-content-center">
          <div class="card mb-3 py-2 custom-card col-11 mentor-card-3">
            <div class="row g-0">
              <div class="col-md-4 d-flex justify-content-center align-items-center">
                <img src="https://scontent-ord5-2.xx.fbcdn.net/v/t1.15752-9/341464993_1747560638974397_8777626673617992644_n.png?_nc_cat=105&ccb=1-7&_nc_sid=ae9488&_nc_ohc=DxkZEKek02IAX8ZJcws&_nc_ht=scontent-ord5-2.xx&oh=03_AdQncyPxe5moxlacGxHu7qsGNA35Ff4MRUm_BnskfYy3Lw&oe=646CAE6E" class="img-fluid image-mentor" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body ">
                  <h1 class="card-title pt-1 custom-h1-card" style="display:inline-block">name</h3>
                    <button class="btn btn-primary custom-button-3">Mental Health Mentor</button>
                    <p class="card-text">Psychology Mentor</p>
                    <p class="card-text">Experience in Psychology Field for 12 years | PHD in Mental Health Issues</p>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span>4.6</span>
                    <span>(37 reviews)</span>
                    <div class="meeting-options d-flex py-3 justify-content-between"> <!--remember to add icon-->
                      <span>Chat</span>
                      <span>Call</span>
                      <span>Virtual Meeting</span>
                      <span>Onsite Meeting</span>
                    </div>
                    <p class="card-text pt-3">Designer at Adobe, driving product-led growth initiatives like engagement and
                      monetization for Acrobat. I keep a systems-based approach to design with a strong focus on research
                      and accessibility, all while collaborating on the product roadmap and strategy with cross-functional
                      partners. I’m an Interaction design graduate from the School of Visual …</p>
                    <div class="badge-ability d-flex justify-content-start mentor-badge-3">
                      <span class="badge rounded-pill bg-light text-dark me-4">Helpful</span>
                      <span class="badge rounded-pill bg-light text-dark me-4">Mental Health Recovery</span>
                      <span class="badge rounded-pill bg-light text-dark me-4">Kind</span>
                      <span class="badge rounded-pill bg-light text-dark me-4">Suitable for women</span>
                    </div>
                    <button type="button" class="mt-5 make-reservation-button-3">Make A Reservation</button>
                </div>
              </div>
            </div>
          </div>
        </div>
    
        <!--Mentor 4-->
        <div class="row my-3 justify-content-center">
          <div class="card mb-3 py-2 custom-card col-11 mentor-card-4">
            <div class="row g-0">
              <div class="col-md-4 d-flex justify-content-center align-items-center">
                <img src="https://scontent-ord5-1.xx.fbcdn.net/v/t1.15752-9/341469244_965697864465226_6913672377880892703_n.png?_nc_cat=109&ccb=1-7&_nc_sid=ae9488&_nc_ohc=Ax_P5Jgm7JcAX9-52Zl&_nc_ht=scontent-ord5-1.xx&oh=03_AdTFMTLQOitO1HtQmdRETsiGR-Tdqn8cTJN4I3E2wkpjKw&oe=646C8D44" class="img-fluid image-mentor" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body ">
                  <h1 class="card-title pt-1 custom-h1-card" style="display:inline-block">name</h3>
                    <button class="btn btn-primary custom-button-4">Mental Health Mentor</button>
                    <p class="card-text">Psychology Mentor</p>
                    <p class="card-text">Experience in Psychology Field for 12 years | PHD in Mental Health Issues</p>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span>4.6</span>
                    <span>(37 reviews)</span>
                    <div class="meeting-options d-flex py-3 justify-content-between"> <!--remember to add icon-->
                      <span>Chat</span>
                      <span>Call</span>
                      <span>Virtual Meeting</span>
                      <span>Onsite Meeting</span>
                    </div>
                    <p class="card-text pt-3">Designer at Adobe, driving product-led growth initiatives like engagement and
                      monetization for Acrobat. I keep a systems-based approach to design with a strong focus on research
                      and accessibility, all while collaborating on the product roadmap and strategy with cross-functional
                      partners. I’m an Interaction design graduate from the School of Visual …</p>
                    <div class="badge-ability d-flex justify-content-start mentor-badge-4">
                      <span class="badge rounded-pill bg-light text-dark me-4">Helpful</span>
                      <span class="badge rounded-pill bg-light text-dark me-4">Mental Health Recovery</span>
                      <span class="badge rounded-pill bg-light text-dark me-4">Kind</span>
                      <span class="badge rounded-pill bg-light text-dark me-4">Suitable for women</span>
                    </div>
                    <button type="button" class=" mt-5 make-reservation-button-4">Make A Reservation</button>
                </div>
              </div>
            </div>
          </div>
        </div>
    
        <!--Mentor 5-->
        <div class="row my-3 justify-content-center">
          <div class="card mb-3 py-2 custom-card col-11 mentor-card-5">
            <div class="row g-0">
              <div class="col-md-4 d-flex justify-content-center align-items-center">
                <img src="https://scontent-ord5-2.xx.fbcdn.net/v/t1.15752-9/341094122_198118756331590_6598498662017491517_n.png?_nc_cat=103&ccb=1-7&_nc_sid=ae9488&_nc_ohc=T5uLUBdPCrMAX-kZ4ib&_nc_ht=scontent-ord5-2.xx&oh=03_AdSTrGaCdgSzHH1LUZoMOpm5MRK0_Y9T3Q9snb8IiPcKyQ&oe=646CA08A" class="img-fluid image-mentor" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body ">
                  <h1 class="card-title pt-1 custom-h1-card" style="display:inline-block">name</h3>
                    <button class="btn btn-primary custom-button-5">Mental Health Mentor</button>
                    <p class="card-text">Psychology Mentor</p>
                    <p class="card-text">Experience in Psychology Field for 12 years | PHD in Mental Health Issues</p>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span>4.6</span>
                    <span>(37 reviews)</span>
                    <div class="meeting-options d-flex py-3 justify-content-between"> <!--remember to add icon-->
                      <span>Chat</span>
                      <span>Call</span>
                      <span>Virtual Meeting</span>
                      <span>Onsite Meeting</span>
                    </div>
                    <p class="card-text pt-3">Designer at Adobe, driving product-led growth initiatives like engagement and
                      monetization for Acrobat. I keep a systems-based approach to design with a strong focus on research
                      and accessibility, all while collaborating on the product roadmap and strategy with cross-functional
                      partners. I’m an Interaction design graduate from the School of Visual …</p>
                    <div class="badge-ability d-flex justify-content-start mentor-badge-5">
                      <span class="badge rounded-pill bg-light text-dark me-4">Helpful</span>
                      <span class="badge rounded-pill bg-light text-dark me-4">Mental Health Recovery</span>
                      <span class="badge rounded-pill bg-light text-dark me-4">Kind</span>
                      <span class="badge rounded-pill bg-light text-dark me-4">Suitable for women</span>
                    </div>
                    <button type="button" class="mt-5 make-reservation-button-5">Make A Reservation</button>
                </div>
              </div>
            </div>
          </div>
        </div>
    
    
        <!--Pagination-->
        <div class="container d-flex justify-content-center">
          <nav aria-label="...">
            <ul class="pagination">
              <li class="page-item disabled">
                <span class="page-link">Previous</span>
              </li>
              <li class="page-item"><a class="page-link" href="service.html">1</a></li>
              <li class="page-item active" aria-current="page">
                <span class="page-link">2</span>
              </li>
              <li class="page-item"><a class="page-link" href="service.html">3</a></li>
              <li class="page-item">
                <a class="page-link" href="service.html">Next</a>
              </li>
            </ul>
          </nav>
        </div>
    </div>
    
    <!--footer-->
  <footer>
    <div class="footer-top">
      <div class="container">
        <div class="row gy-4">
          <div class="col-lg-4">
            <img class="logo" src="image/logo.png" alt="" width="300" height="200" />
          </div>
          <div class="col-lg-2">
            <h5 class="text-white">Content</h5>
            <ul class="list-unstyled">
              <li><a href="#">Home</a></li>
              <li><a href="#">Annonymous Report</a></li>
              <li><a href="#">Safe Map</a></li>
              <li><a href="#">Support Service</a></li>
            </ul>
          </div>
          <div class="col-lg-2">
            <h5 class="text-white">More</h5>
            <ul class="list-unstyled">
              <li><a href="#">FAQ's</a></li>
              <li><a href="#">Terms</a></li>
              <li><a href="#">Privacy</a></li>
              <li><a href="#">Support</a></li>
            </ul>
          </div>
          <div class="col-lg-4">
            <h5 class="text-white">Contact</h5>
            <ul class="list-unstyled">
              <li>Address: 408S Locust Street, Greencastle, Indiana</li>
              <li>Email: phuocong_2026@depauw.edu</li>
              <li>Phone: (765) 246-2191</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom py-3">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <p class="mb-0">
              © 2020 copyright all right reserved | Designed by Peter Ong &
              Darcy Tran<i></i>
            </p>
          </div>

          <div class="col-md-6">
            <div class="social-icons">
              <a href="#"><i class="bx bxl-facebook"></i></a>
              <a href="#"><i class="bx bxl-twitter"></i></a>
              <a href="#"><i class="bx bxl-instagram-alt"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!--end of footer-->
    
    <script src="servicePub/service.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
      integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
      crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
      integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
      crossorigin="anonymous"></script>

      
</body>

</html>