body {
  background-color: whitesmoke;
}

.custom-card {
  border: solid 2px blue;
  border-radius: 1rem;
}

.custom-card .image-mentor {
  border-radius: 50%;
  max-width: 350px;
}

.custom-card .custom-button {
  margin-left: 22rem;
  margin-top: -1.5rem;
}

.custom-h1-card {
  margin-left: -0.1rem;
}

.checked {
  color: orange;
}

.meeting-options {
    border-top: solid 1px black;
    border-bottom: solid 1px black;
}

.badge-ability span {
    background-color: #bde0fe !important;
    font-size: 15px;
    
}

.make-reservation-button {
    font-size: 20px;
    border-radius: 30px;
}

