@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;700&display=swap');

body {
  background-color: whitesmoke;
}
:root{
    --primary:#0d6efd;
    --dark: #21252f;
    --body:#888;
    --box-shadow:0 8px 22px rgba(0,0,0,0.1);
}

body{
    font-family: Sora,"sans-serif";
    line-height: 1,7;
    color: var(--body);
}

h1,h2,h3,h4,h5,h6,
.display-4 { 
    color: var(--dark);
}

a {
    color: var(-dark);
    text-decoration: none;
}

  .hero {
    background-image: url("image/Cover.png");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    z-index: 2;
}


section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.card-effect {
    box-shadow: var(--box-shadow);
    background-color: var(--white);
    padding: 25px;
    transition: all 0.35s ease;
}

.card-effect:hover {
    box-shadow: none;
    transform: translateY(5px);
}

.iconbox {
    width: 54px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary);
    color: var(--white);
    font-size: 32px;
    border-radius: 100px;
    flex: none;
}


.service {
    position: relative;
    z-index: 2;
    overflow: hidden;
}

.service::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: -100%;
    left: 0;
    background-color: var(--primary);
    z-index: -1;
    opacity: 0;
    transition: all 0.4s ease;
}


.service:hover .iconbox {
    background-color: var(--white);
    color: var(--primary);
}

.service:hover h5,
.service:hover p {
    color: var(--white);;
}

.service:hover::after {
    opacity: 1;
    top: 0;
}

.social-icons {
  display: flex;
  justify-content: center;
  color: white;
}
.social-icons a {
    width: 34px;
    height: 34px;
    background-color: var(--primary);
    border-radius: 2px solid var(--primary);
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    margin-left: 5px;
    transition: all 0.4s ease;
    border: 2px solid var(--primary);
}

.social-icons a:hover {
    color: var(--primary);
    background-color: transparent;
    border-color: var(--primarys);
}

form input.form-control {
  height: 56px;
}

form .form-control {
  border: transparent;
  border-radius: 0;
  background-color: rgba(0,0,0,0.02);
}

#report-btn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  padding: 10px 20px;
  border: none;
  border-radius: 50%;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  cursor: pointer;
  display: none;
}

.footer-top {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: var(--dark);
}

.footer-top a {
  color: var(--body);
}

.footer-top a:hover {
  color: var(--white);
}

.footer-bottom {
  background-color: #242933;
}




.image-container {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.image-container img {
  display: inline-block;
  height: auto;
  max-width: 100%;
  margin-right: 10px; /* optional: add some space between images */
  animation: scroll 10s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

