@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;700&display=swap');


:root{
    --primary:#0d6efd;
    --dark: #21252f;
    --body:#888;
    --box-shadow:0 8px 22px rgba(0,0,0,0.1);
}

body{
    font-family: Sora,"sans-serif";
    line-height: 1,7;
    color: var(--body);
}









.footer-top {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: var(--dark);
}

.footer-top a {
  color: var(--body);
}

.footer-top a:hover {
  color: var(--white);
}

.footer-bottom {
  background-color: #242933;
}

.social-icons {
  display: flex;
  justify-content: center;
  color: white;
}
.social-icons a {
    width: 34px;
    height: 34px;
    background-color: var(--primary);
    border-radius: 2px solid var(--primary);
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    margin-left: 5px;
    transition: all 0.4s ease;
    border: 2px solid var(--primary);
}

.social-icons a:hover {
    color: var(--primary);
    background-color: transparent;
    border-color: var(--primarys);
}








